/* General Styles */
body {
  max-width: 800px;
  margin: auto;
  padding: 1em;
  line-height: 1.5;
  color: #24292e;
}

/* Links */
a {
  color: #0366d6;
  text-decoration: none;
}

a:hover {
  color: #035cc1;
  text-decoration: underline;
}

/* Navigation and Copy Button */
.menu a, .copy-button {
  text-decoration: none;
  padding: 5px;
  border-radius: 5px;
  color: #24292e;
}

.menu a:hover, .copy-button:hover {
  background-color: #f6f8fa;
  color: #0366d6;
  text-decoration: none;
}

/* Content Backgrounds */
.article-meta, blockquote, thead, tfoot, tr:nth-child(even) {
  background: #f6f8fa;
}

/* Article Meta */
.article-meta {
  padding: 5px;
  border-radius: 5px;
}

/* Layout */
.menu, .article-meta, footer {
  text-align: center;
}

.menu li {
  display: inline-block;
}

/* Typography */
.title {
  font-size: 1.1em;
}

footer a {
  text-decoration: none;
}

hr {
  border-style: solid;
  color: #e1e4e8;
}

/* Code Blocks */
pre {
  position: relative;
  border: 1px solid #e1e4e8;
  padding: 1em;
  overflow-x: auto;
}

code {
  background: #f6f8fa;
}

pre code {
  background: none;
}

.copy-button {
  position: absolute;
  top: 5px;
  right: 5px;
  border: none;
  cursor: pointer;
  font-size: 0.8em;
}

/* Media */
img, iframe, video {
  max-width: 100%;
}

/* Text Hyphenation */
main {
  hyphens: auto;
}

/* Blockquotes */
blockquote {
  border-left: 5px solid #e1e4e8;
  padding: 3px 1em 3px;
}

/* Tables */
table {
  margin: auto;
  border-top: 1px solid #e1e4e8;
  border-bottom: 1px solid #e1e4e8;
}

table thead th {
  border-bottom: 1px solid #e1e4e8;
}

th, td {
  padding: 5px;
}
